*{
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    background: linear-gradient(90deg, #7A0861 2%, rgba(0, 0, 0, 0) 100%), #000000;
}

#navimg{
    width: 70px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.navbar-nav{
    display: inline-flex; 
    float: right;
}

.navbar li a{
    padding: 0 40px;
    margin-right: 30px;
    font-size: 18px;
    font-family: roboto;
    text-transform: uppercase;
    text-decoration: none;
    color: white;;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    text-shadow: 12px 15px 10px rgba(0, 0, 0, 0.25);
}


.homeTitle{
    font-family: Roboto;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    overflow: hidden;
    color: #FFF282;
    position: absolute;
    top: 80px;
    left: 60px;
}
.homeCaption{
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
    overflow: hidden;
    color: White;
    position: absolute;
    top: 110px;
    left: 60px;
}

.homeContainer2{
    display: inline-flex;
    flex-direction: row-reverse;
}

#me{
    width: 400px; 
    position: absolute;
    top: 100px;
    right: 100px;
}

#me2{
    width: 1000px; 
    position: absolute;
    top: 90px;
    right: -220px;
}
.homeContainer2 p{
    font-family: Roboto;
    font-size: 20px;
    line-height: 30px;
    width: 720px;
    padding: 0 50px;
    text-align: justify;
}

.quote{
    background: linear-gradient(90deg, rgba(255, 253, 255, 0) 26.8%, #D890C8 95.66%), #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    line-height: 29px;
    text-align: justify;
    width: 900px;
    margin-left: 50px;
    
}

.quote p{
    width: 730px;
}

.homeContainer3{
    width: 760px;
    text-align: center;
    padding: 20px;
}

.homeButton{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    background-color:#FCE56f;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}

/* KNOW MORE ABOUT hER */

.QandA{
    margin: 40px 0;
   background-color: #200119;
   text-align: center;
   height: 600px;
   
}


.QandATitle{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FCE56E;
}

#imgQandA{
    width: 100%;
    opacity: .2;
    position: absolute;
    top: 652px;
    left: 0;
    z-index: 1;
    height: 600px;
}

.QandAcontainer1{
    display: inline-flex;
    text-align: center;
}

.QandAcontainer2{
    background-color: white;
    padding: 10px;
    margin: 0 30px;
    z-index: 2;
    border-radius: 10px;
}

.pQuestion{
    font-weight: bolder;
}
.QandAcontainer2 p{
    width: 350px;
    font-family: roboto;
   
}
.imgKnow{
    width: 350px;
    height: 250px;
}

/* SKILLS AND CAPABILITIES */

.skillsMainTitle{
    background: linear-gradient(90deg, #D890C8 26.8%, rgba(255, 253, 255, 0) 95.66%), #FFFFFF;
    height: auto;
    margin-bottom: 60px;
}

.skillsMainTitle>p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #470140; 
    margin: 15px;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.skillsContainer{
    display: inline-flex;
    width: 350px;
    
}
.skillsContainer > img{
    width: 200px;
    height: 50px;
    margin: 20px 0;
   
}

.skillsContainer p{
    font-family: roboto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#skillsTitle{
    font-weight: bolder;
    font-family: roboto;
    font-size: 25px;
    color: #7A0861;
}

#skillsCategoryContainer{
    display: inline-flex;
    width: 100%;
}

.skillsCategory{
    width: 300px;
    border: 2px solid #7A0861;
    margin: 20px;
    border-radius: 10px;
    padding: 20px
}

#skillsCategory1{
    width: 600px;
  
}
.skillsCategory > p{
    font-weight: bold;
    font-family: roboto;
    font-size: 18px;
    color: #7A0861;
    text-transform: uppercase;
    text-align: center;
  
}

.skillsCategory ul{
    font-weight: bold;
    font-family: roboto;
    line-height: 25px;
    padding: 0 40px;
}

#logos{
    width: 500px;
    position: absolute;
    top: 1670px;
    left: 230px;
}

/* PROJECT AND PORTFOLIO */

.projects{
    margin: 40px 0;
    background-color: #200119;
    text-align: center;
    height: 600px;
}
.projects > p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FCE56E;
}

.projects > img{
    width: 100%;
    height: 700px;
    opacity: .2;
    position: absolute;
    top: 2070px;
    left: 0px;
}

.projects{
    overflow-y:hidden;
    height: 1000px;
}
.portfolio{
    width: 600px;
    margin: 20px;
}

.projectsContainer{
    display: flex;
    margin-left: 60px
    
}

#portfolio1{
    height: 275px;
}

.portCaption{
    width: 600px;
    height: 60px;
    background-color: white;
    border-radius: 6px;
}