*{
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background:
        linear-gradient(180deg, #D015BC 0%, rgba(255, 255, 255, 0) 100%), #030303;
    background-size: cover;
	background-position:top;
	background-repeat: no-repeat;
	;
}

.mainBackground{
    width: 120%;
    padding: 0;
    margin: 0;
    position: relative;
    opacity: .2;
    -webkit-animation: blink normal 6s infinite ease-in-out; /* Webkit */
     animation: blink normal 6s infinite ease-in-out;
}

@-webkit-keyframes blink {
    0% {opacity:.2;
    }
    50% {opacity:0;
    }
    100% {opacity:.2;
    }
}

.mainContainer{
    display: inline-flex;
}

.subcontainer1{
    margin-left: 80px;
    width: 700px;
    position: absolute;
    top: 0px;
}

.subcontainer2{
    padding: 100px 50px;
    width: 700px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 80px
}

.puzzle{
    padding-top: 15px;
    width: 600px;
}

/* .puzzle:hover{
    content: url(../images/2.png);
} */

.subcontainer2 h1{
    font-size: 50px;
    width: 700px;
    color:  #B4BB63;
    font-family: 'roboto', sans-serif;
    font-weight: 30px;
}

.subcontainer2 h2{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    font-family: roboto;
}


.subcontainer2 h3{
    font-family: Roboto;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

button{
    margin-top: 40px;
    width: 200px;
    font-size: 30px;
    height: 60px;
    background: #B4BB63;
   
    border-radius: 10px;

}

button a{
    text-decoration: none;
    color: black;
}

button:hover{
    color: #B4BB63;
    background-color: black;
    border-radius: 10px;
    
}

button a:hover{
    text-decoration:none;
    color: #B4BB63;
}






